<html>
  <head>
    <title>Github profiles</title>
    <link href='github.css' rel='stylesheet'>
  </head>
  <body>

    <form id='add_profile'>
      <input id='username' placeholder='Who shall we stalk?'>
      <button type="submit">CLICK</button>
    </form>

    <div class='profile-container'>    
       <img src = "spinner.gif" class="spinner"> 
    </div>

    <template id="profile-template">
      <div class="profile">
        <div class="left">
          <img src="{{ avatar_url }}">
        </div>

        <div class="right">
          <h3><a href="{{ html_url }}">{{ login }}</a></h3>
          <h4>Repos: {{ public_repos }}</h4>
          <h4>Followers: {{ followers }}</h4>
          <h4>Commits Across Last 30 Public Projects:<span class="commits"></span></h4>
          <p class="chef">More Forks than....
          <img src="McD.png">
          </p>
          <p class="intraining">No Forks?  Get On The Weights!
          <img src="get-on-the-weights.png">
          </p>
        </div>
        <a class='close' href='#'>✖</a>
        <br clear="all">
      </div>
    </template>

    <div class='modal'>
      <h2>User not found!</h2>
      <p>Could not find that User :-(</p>
      <a class='close' href='#'>✖</a>
    </div>

    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
    <script>

      function addProfileFromUsername(username){
        $('.spinner').show();
        $.get('https://api.github.com/users/'+ username + "?client_id=<%=ENV['CLIENT_ID']%>&client_secret=<%=ENV['CLIENT_SECRET']%>", function(user){
          renderTemplate(user, username);
          })
        .error(function(){
          $('.modal').addClass('shown');
        })
        .always(function(){
          $('#username').val('');
          $('.spinner').hide();
        })
      }
      
      var totalCommits = 0;

      var renderTemplate = function(user, username){
        var newProfile = Mustache.render($('#profile-template').html(), user);
        $(newProfile).appendTo('.profile-container').slideDown(100);
        getUserRepoList(username);
        totalCommits = 0;
      }

      var getUserRepoList = function(username){
        $.get('https://api.github.com/users/'+ username + "/repos?client_id=<%=ENV['CLIENT_ID']%>&client_secret=<%=ENV['CLIENT_SECRET']%>", function(userRepos){
          forkFinder(userRepos, username);
          })
      }

      var forkFinder = function(userRepos, username){
        var forks = 0;

        for(i=0; i < userRepos.length; i++){
          forks = forks + userRepos[i].forks_count;
          var reposName = userRepos[i].name;
          fetchCommits(username, reposName)
          };

          if(forks>0){
            $('.chef:last').show();
          } else {
            $('.intraining:last').show();
          };
            
      };

      var fetchCommits = function(username, reposName){
        $.get('https://api.github.com/repos/'+ username + '/' + reposName + "/commits?client_id=<%=ENV['CLIENT_ID']%>&client_secret=<%=ENV['CLIENT_SECRET']%>", updateCommits);
      }

      var updateCommits = function(commits){
          var commitCount = commits.length;
          totalCommits = totalCommits + commitCount;
          $('.commits:last').text(totalCommits);
      }

      $(document).ready(function(){

        $('#add_profile').on('submit', function(event){
          event.preventDefault();
          addProfileFromUsername($('#username').val());
        });

        $('.profile-container').on('click', '.close', function(){
          $(this).closest('.profile').slideUp(function(){
            $(this).remove();
          });  
        });

        $('.modal .close').on('click',function(){
          $('.modal').removeClass('shown');
        });

      });

    </script>

  </body>
</html>